.site-footer
{
	background-color:#FFFFFF;
	padding-top: 5px; 
	border-top: 1px solid #7401DF;
border-bottom: 1px solid #7401DF;
border-right: 1px solid #7401DF;
border-left: 1px solid #7401DF;
  
}
  
.bottom-footer
{

	margin-top: 0px;
	padding-top: 2px;

} 
.footer-nav
{
	text-align: right;
	list-style: none;
}
.footer-nav li
{
	display: inline;
	
}
.footer-nav li:not(:first-child):before
{
	content: '|';
	padding: 0px 10px;
}
.footer-nav a 
 {
 	color: #011201
}
.footer-nav a:hover
{
	background-color: #3E87C6;
    color: #FFFFFF;
}
