.site-footer
{
	background-color:#FFFFFF;
	padding-top: 5px; 
	border-top: 1px solid #3E87C6;
border-bottom: 1px solid #3E87C6;
border-right: 1px solid #3E87C6;
border-left: 1px solid #3E87C6;

  
}
  
.bottom-footer
{

	margin-top: 0px;
	padding-top: 2px;

} 
.footer-nav
{
	text-align: right;
	list-style: none;
}
.footer-nav li
{
	display: inline;
	
}
.footer-nav li:not(:first-child):before
{
	content: '|';
	padding: 0px 10px;
}
.footer-nav a 
 {
 	color: #011201
}
.footer-nav a:hover
{
	background-color: #3E87C6;
    color: #FFFFFF;
}

#blogs_filter label{
	font-size: 18px;
}
#pubs {

	padding: 15px;
	
}
#figs {
	padding: 25px;

}
#svfb {
	margin-top: 30px;

}
#svf {
	margin-top: 50px;

}
#svs {
	margin-top: 50px;

}



.modal-dialog {
        width: 90%; /* respsonsive width */   
    }
    .tooltip{
        z-index: 2000 !important;
    }
        #tip {
        background-color:white;
        border:1px solid blue;
        position:absolute;
        left:-800px;
        top:100px;
    }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#rotateimage
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

