.jumbotron{
background-color: #D6D6D6;
border-top: 1px solid #D6D6D6;
border-bottom: 1px solid #D6D6D6;
border-right: 1px solid #D6D6D6;
border-left: 1px solid #D6D6D6;
width: 69%;
height: 350px;
margin-top: 1px;
float:left;
/*background-color:none !important;*/
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 background-color: #3E87C6 ;
 color: #FFFFFF;
}
.navbar {
margin-bottom: 0px;
border-top: 1px solid #D6D6D6;
border-bottom: 1px solid #D6D6D6;
border-right: 1px solid #D6D6D6;
border-left: 1px solid #D6D6D6;
}
#njt{
cursor:pointer;
}
#boxsetting{
	height: 150px;
}
.firstbox{
	margin-top: 1px;
	width:14%;
	float:left;
}
#secondbox{
	margin-top: 1px;
}
#logo-image
{
	margin-top: 5px;
}
#bottom-image
{
	margin-top: 3px;
	width: 60%;
    height: 60px;
}